<style>#branding{display:none;}</style>
<div class="scrollable">
    <div class="scrollable-content">
<div>
    <div class="row">
        <div style='text-align:center;' aria-label="PCT logo">
            <img id="aboutbranding" style='margin:15px 0;width:50%;' src="{{brandingUrl}}" />
        </div>
    </div>
    <div>
        <div align="center" class="campuseai-Info" style="color:#fff !important;">
            <div style="font-weight:600;text-shadow:none">Created By</div>
            <div >Unifyed</div>
            <div >www.unifyed.com</div>
            <div style="margin:10px 0 0 0;">info@unifyed.com</div>
            <div style="margin:auto;width:80%;" aria-label="unifyed logo">
                <img src="img/unifyed.png" style="margin:auto;width:70%;"/>
            </div>
            <div>Platform: V3.5</div>
            <div>Build:Ver {{metadata.version}}</div>
        </div>
    </div>
</div>
</div>
</div>